{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<ul id="msgBoard" class="list-group">
</ul>
<form id="msgForm">
  <div class="form-row justify-content-center">
    <div class="col-8 form-group my-1 mx-sm-2">
      <input type="text" class="form-control" id="message" aria-describedby="sendMessage" placeholder="Message">
    </div>
    <button type="submit" class="btn btn-primary my-1">Send</button>
  </div>
</form>
{% endblock %}
{% block msg %}
<script>
  $(document).ready(function () {
    var socket;
    socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('message', function (json) {
      $('#msgBoard').append("<li>" + json.msg + "</li>");
    });
    $('#msgForm').on('submit', function (e) {
      e.preventDefault();
      socket.emit('message', { 'msg': $('#message').val() });
    });
  });
</script>
{% endblock %}