{% extends 'base.html' %}
{% set active_page = "index" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container">
  <div id="msgBoard" class="container pb-sm-5">
  </div>
  <form id="msgForm" class="fixed-bottom border-top bg-light">
    <div class="form-row justify-content-center">
      <div class="col-9 form-group my-1 mx-sm-2">
        <input type="text" class="form-control" id="message" aria-describedby="sendMessage" placeholder="Message">
      </div>
      <button type="submit" class="btn btn-primary my-1">Send</button>
    </div>
  </form>
</div>
{% endblock %}
{% block msg %}
<script type="text/javascript" src="{{ url_for('static', filename='msg.js') }}">
</script>
{% endblock %}