{% extends 'base.html' %}
{% set active_page = "login" %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container">
  <form method=POST action="{{ url_for('routes.login') }}">
    <div class="form-group">
      <label for="userName">Username</label>
      <input type="text" class="form-control" aria-describedby="userName" placeholder="Enter username" name="username">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}